* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #a83c3c36;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: #a83c3c;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(105, 33, 33);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.greenColor {
    color: green !important;
}

.redColor {
    color: red !important;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.noScroll{
    ::-webkit-scrollbar{
        display: none;
    }
}