name: BookCafe

services:
  server:
    build: 
      context: ./server
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - ./server/.env
    volumes:
      - ./server:/app
      - /app/node_modules
    networks:
      - bookCafe-network
    ports:
      - "9193:9193"

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - ./client/.env
    volumes:
      - ./client:/app
      - /app/node_modules
    networks:
      - bookCafe-network
    ports:
      - "5173:5173" 
    command: npm run dev 
    depends_on:
      - server

networks:
  bookCafe-network:
    driver: bridge
